.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.home .overlay {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
}
.home .overlay img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .homeContent {
  width: 100%;
}
.home .homeContent .textDiv {
  translate: 12% -600%;
  color: #ffffff;
}
.home .homeContent .cardDiv {
  margin: 0 auto;
  border-radius: 10px;
  width: 76%;
  translate: 0% -450%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .homeContent .cardDiv .content .input-search {
  height: 70px;
}
.home .homeContent .btn-search {
  translate: 78% -1140%;
}

.home-tour-container {
  margin: 0 auto;
  margin-top: -180px;
  max-width: 1170px;
  padding: 15px;
}
.home-tour-container .text-header {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}
.home-tour-container .text-header h1 {
  color: #1C5C80;
}
.home-tour-container .text-header p {
  color: #565656;
}
.home-tour-container .layout-intro {
  height: 600px;
  margin-top: 50px;
}
.home-tour-container .layout-intro .list-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
}
.home-tour-container .layout-intro .list-img .img-item:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}
.home-tour-container .layout-intro .list-img .img-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1/2;
}
.home-tour-container .layout-intro .list-img .img-item:nth-child(3) {
  grid-column: 2;
  grid-row: 2/3;
}
.home-tour-container .layout-intro .list-img .img-item:last-child {
  grid-column: 3;
  grid-row: 1/3;
}
.home-tour-container .layout-intro .list-img .img-item img {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-tour-container .text-review {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 0 220px;
}
.home-tour-container .text-review h1 {
  color: #1C5C80;
}
.home-tour-container .text-review p {
  color: #565656;
  text-align: center;
}
.home-tour-container .tour-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}
.home-tour-container .tour-list .tour-item {
  box-shadow: 2px 3px rgba(28, 91, 128, 0.1725490196);
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  border-radius: 15px;
  height: 278px;
  padding: 12px;
}
.home-tour-container .tour-list .tour-item .left-item {
  display: flex;
  width: 100%;
  height: 245px;
}
.home-tour-container .tour-list .tour-item .left-item .media-tour {
  width: 33.33%;
}
.home-tour-container .tour-list .tour-item .left-item .media-tour img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.home-tour-container .tour-list .tour-item .left-item .tour-content {
  width: 66.67%;
  padding: 22px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
.home-tour-container .tour-list .tour-item .left-item .tour-content .tour-name {
  color: #1C5C80;
  font-size: 16px;
}
.home-tour-container .tour-list .tour-item .left-item .tour-content .tour-desc {
  display: flex;
  align-items: center;
  color: #565656;
  font-size: 16px;
}
.home-tour-container .tour-list .tour-item .left-item .tour-content .list-info {
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
  color: #565656;
}
.home-tour-container .tour-list .tour-item .right-item {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}
.home-tour-container .tour-list .tour-item .right-item .review-and-start {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}
.home-tour-container .tour-list .tour-item .right-item .review-and-start .the-reviews {
  font-size: 14px;
  color: #565656;
}
.home-tour-container .tour-list .tour-item .right-item .price-tour {
  font-size: 22;
  text-align: center;
  font-weight: 700;
}
.home-tour-container .tour-list .tour-item .right-item .btn-booking {
  width: -moz-fit-content;
  width: fit-content;
  outline: none;
  color: #1C5C80;
  border: 1px solid #1C5C80;
  padding: 10px 20px;
  border-radius: 5px;
}
.home-tour-container .tour-list .tour-item .right-item .btn-booking:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #1C5C80;
}

.home-room-container {
  margin-top: 80px;
  height: 700px;
}
.home-room-container .banner-room {
  width: 100%;
  height: 100%;
}
.home-room-container .banner-room img {
  width: 100%;
  height: 100%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-room-container .list-room {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1170px;
  padding: 15px;
  translate: 0 -115%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.home-room-container .list-room .room-item {
  height: 541px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
}
.home-room-container .list-room .room-item .room-media img {
  height: 287px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
.home-room-container .list-room .room-item .room-info {
  background-color: #ffffff;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0 0 12px 12px;
}
.home-room-container .list-room .room-item .room-info .room-info-top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home-room-container .list-room .room-item .room-info .room-info-top .room-title {
  font-size: 22px;
  color: #343434;
  text-transform: capitalize;
}
.home-room-container .list-room .room-item .room-info .room-info-top .room-review {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 15px;
}
.home-room-container .list-room .room-item .room-info .room-info-top .room-tag {
  text-transform: capitalize;
  display: flex;
  gap: 5px;
  align-items: center;
}
.home-room-container .list-room .room-item .room-info .room-info-top .room-tag .tag-item {
  padding: 5px 8px;
  outline: none;
  border: 1px solid #4475F2;
  border-radius: 5px;
  background-color: #dce0ea;
  color: #4475F2;
}
.home-room-container .list-room .room-item .room-info .room-info-bottom {
  display: flex;
  gap: 15px;
  align-items: center;
}
.home-room-container .list-room .room-item .room-info .room-info-bottom .room-price {
  font-size: 24px;
  color: #E54141;
}
.home-room-container .list-room .room-item .room-info .room-info-bottom .room-noti {
  font-size: 14px;
}

.view-more-room {
  position: absolute;
  translate: 0% 2400%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
.view-more-room span {
  border: none;
  color: rgb(49, 246, 240);
  text-decoration: underline;
}

.btn-view-more {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-view-more button {
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #E54141;
  border-radius: 5px;
  padding: 12px 15px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}/*# sourceMappingURL=home.css.map */