
.container-list-tour {
    margin: 0 auto;
    margin-top: -150px;
    max-width: 1170px;
    padding: 15px;
    display: flex;


    .filter-select-option{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .inputPrice {
            width: 250px;
            border: 1px solid rgb(224, 223, 223);
            text-align: center;
            border-radius: 15px;
            background-color: #ffffff;
            padding: 15px;
    
            .title-price {
                font-size: 14px;
                font-weight: 500;    
            }          
            
            .range-value{
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
            }

            .btn-search {
                margin-top: 20px;
            }
            
        }
        
        .list-checkbox {
            width: 250px;
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid rgb(224, 223, 223);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            background-color: #ffffff;
    
            .title-cate{
                font-size: 14px;
                font-weight: 500;
            }
            
            .checkbox {
                display: flex;
                margin: 10px;
                flex-direction: column;
            }
        }
    }
    
    .container-data-tour {
        width: 75%;
    
        .select-price {
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            align-items: center;
            
            span{
                font-size: 14px;

            }
        }
    }
    
}








.tour-list {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 50px;
    
            .tour-item {
                box-shadow: 2px 3px #1c5b802c;
                background-color: #ffffff;
                display: grid;
                width: 100%;
                border-radius: 15px;
                padding: 15px;
    
                .left-item {
                    display: flex;
                    width: 100%;
                    height: 222px;
    
                    .media-tour {
                        width: 33.33%;
                        height: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 15px 0 0 15px;
                        }
                    }
    
                    .tour-content {
                        width: 66.67%;
                        padding: 0px 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        row-gap: 5px;
    
                        .tour-name {
                            color: #1C5C80;
                            font-size: 16px;
    
                        }
    
                        .tour-desc {
                            display: flex;
                            align-items: center;
                            color: #565656;
                            font-size: 16px;
                        }
    
                        .list-info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                           // padding: 0 10px;
                            color: #565656;
                            .tour-info{
                                display: flex;
                                gap: 20px;
                                .item-info {
                                    color: #1C5C80;
                                }
                            }
                            
                            .item-info-price {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                span{
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                                .price{
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: #E54141;
                                }
                        }

                        }
                    }
                }
            }
        }