.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

        position: relative;
        right: 0;
        left: 0;
        margin: 0 auto;

    .overlay{
        height: 320px;
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;

         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}



.container-detail-page{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1170px;
    padding: 15px;
    .main-page{
        display: grid;
        grid-template-columns: 1fr 3.25fr 1.38fr;
        column-gap: 25px;

        .left-content{
            translate: 0% -15%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: start;
            color: #343434;
            .media-avatar{
                width: 200px;
                height: 200px;
                translate: 0% -5%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    border-radius: 10px;
                }
            }

            .left-item{
                align-items: center;
                .type{
                    display: flex;
                   
                    gap: 8px;
                    .icon{
                        font-size: 16px;
                       
                    }
                    .title-icon{
                        font-size: 14px;
                        font-weight: 500;
                        text-align: center;
                    }
                }
            }
        }
        .center-content{
            .header-info{
                display: flex;
                flex-direction: column;
                gap: 13px;
                translate: 0% -20%;
                .tour-title{
                    font-size: 28px;
                    font-weight: 600;
                    color: #001A40;
                }
               
                .tour-location{
                    font-size: 14px;
                    font-weight: 500;
                    color: #309BD8;
                }
            }
            .tour-intro{
                margin-top: 40px;
                translate: 0% 2%;
                .tour-description{
                    margin-top: 20px;
                    background-color: #ffffff;
                    padding: 25px;
                    border-radius: 10px;
                    font-size: 14px;
                    line-height: 1.5rem;
                }
            }
            .tour-media{
                translate: 0% 20%;
                .list-media{
                    margin-top: 20px;
                    background-color: #ffffff;
                    padding: 12px;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 6px;
                }
            }
        }
        .right-content{
            translate: 0% -3%;
            .btn-group{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .btn-booking, .btn-review{
                    display: block;
                    background-color:#E54141;
                    padding: 10px;
                    border-radius: 6px;
                    color: #ffffff;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
                   
                }

                .btn-review{
                    color: #E54141;
                    background-color: #ffffff;
                    border: 1px solid #E54141;
                }
                
            }

            .tour-info{
                background-color: #ffffff;
                margin-top: 30px;
                border-radius: 6px;
                padding: 15px 20px;
                .title{
                    font-weight: 600;
                    font-size: 16px;

                }
                .data-picker{
                    display: block;
                    margin: 15px 0;
                }
                h5{
                    margin-bottom: 15px;
                }
                .endow-list{
                    display: flex;
                    justify-content: space-between;

                    ul{
                        font-size: 13px;
                        font-weight: 500;
                        display: block;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                       
                    }
                }

                .tour-price{
                    font-size: 17px;
                    font-weight: 600;
                    color: #E54141;
                }

                .contact-info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;

                    .title-contact, .phone{
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .phone{
                        font-size: 13px;
                        font-weight: 600;
                        padding: 5px 8px;
                        background-color: #FFB21C;
                        color: #ffffff;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}