.container-list-tour {
  margin: 0 auto;
  margin-top: -100px;
  max-width: 1170px;
  padding: 15px;
}
.container-list-tour .range-cell {
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid rgba(224, 223, 223, 0.8);
}
.container-list-tour .range-cell .range-title {
  display: block;
  margin-bottom: 30px;
}
.container-list-tour .range-cell .range-value {
  display: flex;
  justify-content: space-between;
}
.container-list-tour .range-cell .btn-search-range {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-list-tour .category-cell {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid rgba(224, 223, 223, 0.8);
}
.container-list-tour .category-cell .category-title {
  display: block;
  margin-left: 10px;
  margin-bottom: 30px;
}
.container-list-tour .category-cell .list-checkbox {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container-list-tour .category-cell .list-checkbox .checkbox-item:first-child {
  margin-left: 10px;
}

.tour-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  width: 100%;
}
.tour-list .tour-item {
  box-shadow: 2px 3px rgba(28, 91, 128, 0.1725490196);
  background-color: #ffffff;
  display: grid;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.tour-list .tour-item .left-item {
  display: flex;
  width: 100%;
  height: 222px;
}
.tour-list .tour-item .left-item .media-tour {
  width: 33.33%;
  height: 100%;
}
.tour-list .tour-item .left-item .media-tour img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.tour-list .tour-item .left-item .tour-content {
  width: 66.67%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}
.tour-list .tour-item .left-item .tour-content .tour-name {
  color: #1c5c80;
  font-size: 16px;
}
.tour-list .tour-item .left-item .tour-content .tour-desc {
  display: flex;
  align-items: center;
  color: #565656;
  font-size: 16px;
}
.tour-list .tour-item .left-item .tour-content .list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #565656;
}
.tour-list .tour-item .left-item .tour-content .list-info .tour-info {
  display: flex;
  gap: 20px;
}
.tour-list .tour-item .left-item .tour-content .list-info .tour-info .item-info {
  color: #1c5c80;
}
.tour-list .tour-item .left-item .tour-content .list-info .item-info-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tour-list .tour-item .left-item .tour-content .list-info .item-info-price span {
  font-size: 14px;
  font-weight: bold;
}
.tour-list .tour-item .left-item .tour-content .list-info .item-info-price .price {
  font-size: 20px;
  font-weight: 600;
  color: #e54141;
}

.select-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.cardDiv-room {
  margin: 0 auto;
  border-radius: 10px;
  width: 76%;
  translate: 0% -280%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardDiv-room .content .input-search-room {
  height: 70px;
}
.cardDiv-room .content .btn-search-room {
  translate: 87% -170%;
}
.cardDiv-room .content .btn-search-room .btn-search-holiday {
  border: none;
  padding: 8px;
  background-color: #e54141;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}/*# sourceMappingURL=listRoom.css.map */