.payment-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0;
    .paymentt-title{
       text-align: center;
       font-size: 25px;
       font-weight: 700;
       color: #1C5C80;
    }
    .media-payment{
        width: 60%;
        
        margin:  0 auto;
        .img{

        }
    }
    .info-payment{
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .info-item{
            font-size: 17px;

            .info-title{
                font-weight: 600;
                margin-bottom: 5px;
            }
        }
    }
}