.info-page-container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 35px;
    border-radius: 10px;
    margin-top: 50px;
    

    .media-avatar{
        
        margin-left: 150px;
        img{
            display: block;
            border-radius: 200px;
            box-sizing: border-box;
            background-color: #DDD;
            border: 3px solid #cfd8dc;
            width: 170px;
            height: 170px;
            object-fit: cover;
        }
    }

    .input-avatar{
        margin-left: 190px;
        margin-top: 30px;
        .btn-change-avatar{
            cursor: pointer;
            border: 1px solid red;
            padding: 8px 10px;
            border-radius: 5px;
            color: red;
            font-weight: 500;
            font-size: 13px;
        }
    }

}