.dashboard-container{
    margin: 0 auto;
    padding: 20px;
    margin-left: 50px;
    .header-dash{
        margin-left: 40px;
    }

    .chart-dash{
        margin-top: 80px;
        display:flex;
    }
}